/*importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/*styling for navbar*/
::-webkit-scrollbar {
  width: 0px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box; /* For compatibility with older WebKit browsers */
  box-sizing: border-box; /* Standard property */
}

body{
    margin:0;
}

/*styling for section*/
.main{
    height:100vh;
    background-image: url('../images/background1.png');
    background-size: cover;
}

/*styling for navigation*/
.head{
    padding:30px 120px;
}
.navigation{
    display:flex;
    justify-content: space-between;
}
.nav-link{
    font-family: 'Kodchasan',sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    transition: text-shadow 0.2s ease;
}
.nav-link:hover{
    text-shadow: 0px 10px 15px black;
}

/*styling for name and desc - position*/
.moving{
    margin-top: 20vh;
    display:flex;
    flex-direction: column;
}

.moving > * {
    margin-bottom: -20px; /* Adjust the value as needed */
}

/*styling for name and its animation*/
.left-to-right{
    position:relative;
    overflow:hidden;
    left:0%;
    width: 99.9%;
}
ul.name{
    position:relative;
    display: inline-block;
    list-style: none;
    font-family: 'Audiowide',sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 7rem;
    font-weight: 600;
    padding:0;
    margin:0;
}
ul.name.cloned {
  position: absolute;
  top: 0px;
  left: 0px;
}
ul.name li {
  margin-right: -15px;
  float: left;
  gap:0px;
  padding-left: 20px;
  transition: text-shadow 0.01s ease;
}
ul.name li:hover{
    text-shadow:10px 10px 20px rgba(0, 0, 0, 0.3);
}
.letterspace{
    margin-right: 40px;
}

/*styling for description and its animation*/
.right-to-left{
    position:relative;
    left:0%;
    width: 99.9%;
    overflow: hidden;

}
ul.desc{
    position:relative;
    display: inline-block;
    list-style: none;
    font-family: 'Kodchasan',sans-serif;
    color:rgba(246, 246, 246, 1);
    font-size: 1.5rem;
    padding:0;
    margin:0;
}
ul.desc.cloned {
  position: absolute;
  top: 0px;
  left: 0px;
}
ul.desc li {
  float: left;
  padding-left: 20px;
}
.self{
    position:absolute;
    top:10vh;
    left:65vh;
    width:100px;
}